/* 基础文本样式 */
h1 {
  width: 100%;
  text-align: center;
}

.md-typeset p {
  margin-bottom: 1em;
  line-height: 1.6;
  text-indent: 2em;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6,
.md-typeset ul,
.md-typeset ol,
.md-typeset blockquote,
.md-typeset pre {
  text-indent: 0;
}